# Data Science Thursdays: Pandas Tutorial üêº

Sources: Very similar to lesson from https://www.youtube.com/watch?v=e60ItwlZTKM"

---

In [88]:
import pandas as pd

---

### Lesson 1: Loading Hardcoded Data into a Data Frame

If you ever need to load hardcoded data into a dataframe you can do it like this:

In [24]:
df = pd.DataFrame(
    [
        ["Jan", 56, 47, 73, 20, 2.90],
        ["Feb", 62, 48, 78, 23, 3.02],
        ["Mar", 66, 49, 84, 25, 2.33],
        ["Apr", 68, 51, 92, 28, 1.02],
        ["May", 70, 52, 107, 35, 0.42],
        ["Jun", 73, 54, 105, 36, 0.12],
        ["Jul", 74, 58, 102, 41, 0.01],
        ["Aug", 76, 59, 101, 44, 0.03],
        ["Sept", 78, 54, 105, 40, 0.16],
        ["Oct", 79, 47, 97, 34, 0.82],
        ["Nov", 65, 43, 83, 30, 1.70],
        ["Dec", 47, 40, 73, 21, 2.56]
    ],
    index = [0,1,2,3,4,5,6,7,8,9,10,11],
    columns = ["month","avg_height","avg_low","record_high","record_low","avg_percepitation"]
)

In [25]:
# Let's print the dataframe
print(df)

   month  avg_height  avg_low  record_high  record_low  avg_percepitation
0    Jan          56       47           73          20               2.90
1    Feb          62       48           78          23               3.02
2    Mar          66       49           84          25               2.33
3    Apr          68       51           92          28               1.02
4    May          70       52          107          35               0.42
5    Jun          73       54          105          36               0.12
6    Jul          74       58          102          41               0.01
7    Aug          76       59          101          44               0.03
8   Sept          78       54          105          40               0.16
9    Oct          79       47           97          34               0.82
10   Nov          65       43           83          30               1.70
11   Dec          47       40           73          21               2.56

---
### Lesson 2: Reading a textfile into a dataframe

Let's read the csv file "heart.csv"

In [26]:
filename = "heart.csv"
df = pd.read_csv(filename)

print(df)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
5     57    1   0       140   192    0        1      148      0      0.4
6     56    0   1       140   294    0        0      153      0      1.3
7     44    1   1       120   263    0        1      173      0      0.0
8     52    1   2       172   199    1        1      162      0      0.5
9     57    1   2       150   168    0        1      174      0      1.6
10    54    1   0       140   239    0        1      160      0      1.2
11    48    0   2       130   275    0        1      139      0      0.2
12    49    1   1       130   266    0        1      171      0      0.6
13    64    1   3       110   211    0        0      144      1      1.8
14    58    0   3       150   283    1        0      162      0      1.0
15    50    0   2       120   219    0        1      158      0      1.6
16    58    0   2       120   340    0        1      172      0      0.0
17    66    0   3       150   226    0        1      114      0      2.6
18    43    1   0       150   247    0        1      171      0      1.5
19    69    0   3       140   239    0        1      151      0      1.8
20    59    1   0       135   234    0        1      161      0      0.5
21    44    1   2       130   233    0        1      179      1      0.4
22    42    1   0       140   226    0        1      178      0      0.0
23    61    1   2       150   243    1        1      137      1      1.0
24    40    1   3       140   199    0        1      178      1      1.4
25    71    0   1       160   302    0        1      162      0      0.4
26    59    1   2       150   212    1        1      157      0      1.6
27    51    1   2       110   175    0        1      123      0      0.6
28    65    0   2       140   417    1        0      157      0      0.8
29    53    1   2       130   197    1        0      152      0      1.2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
273   58    1   0       100   234    0        1      156      0      0.1
274   47    1   0       110   275    0        0      118      1      1.0
275   52    1   0       125   212    0        1      168      0      1.0
276   58    1   0       146   218    0        1      105      0      2.0
277   57    1   1       124   261    0        1      141      0      0.3
278   58    0   1       136   319    1        0      152      0      0.0
279   61    1   0       138   166    0        0      125      1      3.6
280   42    1   0       136   315    0        1      125      1      1.8
281   52    1   0       128   204    1        1      156      1      1.0
282   59    1   2       126   218    1        1      134      0      2.2
283   40    1   0       152   223    0        1      181      0      0.0
284   61    1   0       140   207    0        0      138      1      1.9
285   46    1   0       140   311    0        1      120      1      1.8
286   59    1   3       134   204    0        1      162      0      0.8
287   57    1   1       154   232    0        0      164      0      0.0
288   57    1   0       110   335    0        1      143      1      3.0
289   55    0   0       128   205    0        2      130      1      2.0
290   61    1   0       148   203    0        1      161      0      0.0
291   58    1   0       114   318    0        2      140      0      4.4
292   58    0   0       170   225    1        0      146      1      2.8
293   67    1   2       152   212    0        0      150      0      0.8
294   44    1   0       120   169    0        1      144      1      2.8
295   63    1   0       140   187    0        0      144      1      4.0
296   63    0   0       124   197    0        1      136      1      0.0
297   59    1   0       164   176    1        0       90      0      1.0
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
5        1   0     1       1
6        1   0     2       1
7        2   0     3       1
8        2   0     3       1
9        2   0     2       1
10       2   0     2       1
11       2   0     2       1
12       2   0     2       1
13       1   0     2       1
14       2   0     2       1
15       1   0     2       1
16       2   0     2       1
17       0   0     2       1
18       2   0     2       1
19       2   2     2       1
20       1   0     3       1
21       2   0     2       1
22       2   0     2       1
23       1   0     2       1
24       2   0     3       1
25       2   2     2       1
26       2   0     2       1
27       2   0     2       1
28       2   1     2       1
29       0   0     2       1
..     ...  ..   ...     ...
273      2   1     3       0
274      1   1     2       0
275      2   2     3       0
276      1   1     3       0
277      2   0     3       0
278      2   2     2       0
279      1   1     2       0
280      1   0     1       0
281      1   0     0       0
282      1   1     1       0
283      2   0     3       0
284      2   1     3       0
285      1   2     3       0
286      2   2     2       0
287      2   1     2       0
288      1   1     3       0
289      1   1     3       0
290      2   1     3       0
291      0   3     1       0
292      1   2     1       0
293      1   0     3       0
294      0   0     1       0
295      2   2     3       0
296      1   0     2       0
297      1   2     1       0
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

---

### Lesson 3: Printing the first 6 and last 2 rows of the data frame

In [27]:
# Show the first 6 rows
df.head(6)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1

In [28]:
# Show the last 2 rows
df.tail(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

By default the head method will print at most 5 rows of the data frame

In [30]:
# Show the first 5 rows
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

---

### Lesson 4: Getting the datatypes, index, columns, and values

In [45]:
# Print out the dtypes of the dataframe
print(df.dtypes)

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [42]:
# Set the variable "ind" to the index of the dataframe and then print out the variable "ind"
ind = df.index
print(ind)

RangeIndex(start=0, stop=303, step=1)

In [51]:
# Print out the variable "ind" as a list
print(ind.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302]

In [43]:
# Set the variable "cols" to the columns of the dataframe and then print out the variable "cols"
cols = df.columns
print(cols)

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [52]:
# Print out the variable "cols" as a list
print(cols.tolist())

---

### Lesson 5: Getting a statistically summary of each column

In [54]:
# Get the statistically summary of the dataframe
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

---

### Lesson 6: Sorting records by any column

In [58]:
# Sort the records by the age column in descending order (by default ascending is set to True)
df.sort_values("age", ascending=False)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0
144,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2,1
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3,0
145,70,1,1,156,245,0,0,143,0,0.0,2,0,2,1
225,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2,0
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2,1
249,69,1,2,140,254,0,0,146,0,2.0,1,3,3,0
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
86,68,1,2,118,277,0,1,151,0,1.0,2,1,3,1
105,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1
203,68,1,2,180,274,1,0,150,1,1.6,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2,0
197,67,1,0,125,254,1,1,163,0,0.2,1,2,3,0
127,67,0,2,152,277,0,1,172,0,0.0,2,1,2,1
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
143,67,0,0,106,223,0,1,142,0,0.3,2,2,2,1
272,67,1,0,120,237,0,1,71,0,1.0,1,0,2,0
166,67,1,0,120,229,0,0,129,1,2.6,1,2,3,0
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1
253,67,1,0,100,299,0,0,125,1,0.9,1,2,2,0
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
51,66,1,0,120,302,0,0,151,0,0.4,1,0,2,1
265,66,1,0,112,212,0,0,132,1,0.1,2,1,2,0
150,66,1,0,160,228,0,0,138,0,2.3,2,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
116,41,1,2,130,214,0,0,168,0,2.0,1,0,2,1
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2,1
134,41,0,1,126,306,0,1,163,0,0.0,2,0,2,1
80,41,1,2,112,250,0,1,179,0,0.0,2,0,2,1
63,41,1,1,135,203,0,1,132,0,0.0,1,0,1,1
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2,1
189,41,1,0,110,172,0,0,158,0,0.0,2,0,3,0
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
133,41,1,1,110,235,0,1,153,0,0.0,2,0,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3,0
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0
124,39,0,2,94,199,0,1,179,0,0.0,2,0,2,1
154,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
44,39,1,2,140,321,0,0,182,0,0.0,2,0,2,1
212,39,1,0,118,219,0,1,140,0,1.2,1,0,3,0
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
259,38,1,3,120,231,0,1,182,1,3.8,1,0,3,0
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2,1
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2,1
239,35,1,0,126,282,0,0,156,1,0.0,2,0,3,0
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3,0
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
58,34,1,3,118,182,0,0,174,0,0.0,2,0,2,1
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1

---

### Lesson 7: Slicing Records

In [65]:
# Show the column "sex" using dot notation
df.sex

0      1
1      1
2      0
3      1
4      0
5      1
6      0
7      1
8      1
9      1
10     1
11     0
12     1
13     1
14     0
15     0
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     1
24     1
25     0
26     1
27     1
28     0
29     1
      ..
273    1
274    1
275    1
276    1
277    1
278    0
279    1
280    1
281    1
282    1
283    1
284    1
285    1
286    1
287    1
288    1
289    0
290    1
291    1
292    0
293    1
294    1
295    1
296    0
297    1
298    0
299    1
300    1
301    1
302    0
Name: sex, Length: 303, dtype: int64

In [66]:
# Show the column "sex" using array notation
df["sex"]

0      1
1      1
2      0
3      1
4      0
5      1
6      0
7      1
8      1
9      1
10     1
11     0
12     1
13     1
14     0
15     0
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     1
24     1
25     0
26     1
27     1
28     0
29     1
      ..
273    1
274    1
275    1
276    1
277    1
278    0
279    1
280    1
281    1
282    1
283    1
284    1
285    1
286    1
287    1
288    1
289    0
290    1
291    1
292    0
293    1
294    1
295    1
296    0
297    1
298    0
299    1
300    1
301    1
302    0
Name: sex, Length: 303, dtype: int64

In [67]:
# Show the dataframe with only rows 2 through 3
df[2:4]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1

In [68]:
# Show only the columns "age", "sex", and "trestbps"
df[["age","sex","trestbps"]]

     age  sex  trestbps
0     63    1       145
1     37    1       130
2     41    0       130
3     56    1       120
4     57    0       120
5     57    1       140
6     56    0       140
7     44    1       120
8     52    1       172
9     57    1       150
10    54    1       140
11    48    0       130
12    49    1       130
13    64    1       110
14    58    0       150
15    50    0       120
16    58    0       120
17    66    0       150
18    43    1       150
19    69    0       140
20    59    1       135
21    44    1       130
22    42    1       140
23    61    1       150
24    40    1       140
25    71    0       160
26    59    1       150
27    51    1       110
28    65    0       140
29    53    1       130
..   ...  ...       ...
273   58    1       100
274   47    1       110
275   52    1       125
276   58    1       146
277   57    1       124
278   58    0       136
279   61    1       138
280   42    1       136
281   52    1       128
282   59    1       126
283   40    1       152
284   61    1       140
285   46    1       140
286   59    1       134
287   57    1       154
288   57    1       110
289   55    0       128
290   61    1       148
291   58    1       114
292   58    0       170
293   67    1       152
294   44    1       120
295   63    1       140
296   63    0       124
297   59    1       164
298   57    0       140
299   45    1       110
300   68    1       144
301   57    1       130
302   57    0       130

[303 rows x 3 columns]

In [70]:
# Show only the 7th row (scalar value) with columns "age", "sex", and "trestbps" using the loc method
df.loc[7,["age","sex","trestbps"]]

age          57.0
sex           1.0
trestbps    150.0
Name: 9, dtype: float64

In [69]:
# Show only the rows 2 through 4 with only the columns "age", "sex", and "trestbps" using the loc method
df.loc[2:5,["age","sex","trestbps"]]

   age  sex  trestbps
2   41    0       130
3   56    1       120
4   57    0       120
5   57    1       140

In [76]:
# Now do the same thing we did above but using the column indices 0, 1, and 3 and a method similar to loc
df.iloc[2:5,[0,1,3]]

   age  sex  trestbps
2   41    0       130
3   56    1       120
4   57    0       120

---

### Lesson 8: Filtering or Querying

In [80]:
# Let's query for all the records whose age is greater than 30 and assign it to the variable gt_thirty
gt_thirty = df[df.age > 30]
gt_thirty # show dataframe

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
275,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
277,57,1,1,124,261,0,1,141,0,0.3,2,0,3,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
279,61,1,0,138,166,0,0,125,1,3.6,1,1,2,0
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1,0
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3,0
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2,0
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2,0
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [123]:
# Lets use a different dataset called "patient_no_show.csv"
df = pd.read_csv("patient_no_show.csv")
df.head(6)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REP√öBLICA,0,1,0,0,0,0,No

In [130]:
# Query for patients only in the following neighborhoods "JARDIM DA PENHA", 
# "MATA DA PRAIA", and "CONQUISTA" assignment it to variable important_group

important_group = df[df["Neighbourhood"].isin(["JARDIM DA PENHA","MATA DA PRAIA","CONQUISTA"])]

important_group

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,40,CONQUISTA,1,0,0,0,0,0,Yes
21,1.215484e+13,5628338,F,2016-04-27T10:50:45Z,2016-04-29T00:00:00Z,4,CONQUISTA,0,0,0,0,0,0,Yes
22,8.632298e+14,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,13,CONQUISTA,0,0,0,0,0,1,Yes
23,2.137540e+14,5634142,F,2016-04-28T10:27:05Z,2016-04-29T00:00:00Z,46,CONQUISTA,0,0,0,0,0,0,No
25,5.819370e+12,5624020,M,2016-04-26T15:04:17Z,2016-04-29T00:00:00Z,46,CONQUISTA,0,1,0,0,0,1,No
27,1.215484e+13,5628345,F,2016-04-27T10:51:45Z,2016-04-29T00:00:00Z,4,CONQUISTA,0,0,0,0,0,0,No
53,4.438587e+14,5637909,M,2016-04-29T07:30:31Z,2016-04-29T00:00:00Z,6,CONQUISTA,0,0,0,0,0,0,No
57,3.996740e+12,5638466,M,2016-04-29T08:03:51Z,2016-04-29T00:00:00Z,11,CONQUISTA,0,0,0,0,0,0,No
59,7.184428e+13,5638545,F,2016-04-29T08:08:43Z,2016-04-29T00:00:00Z,0,CONQUISTA,0,0,0,0,0,0,No
62,3.647762e+13,5614045,F,2016-04-25T10:01:13Z,2016-04-29T00:00:00Z,3,CONQUISTA,1,0,0,0,0,1,No
65,2.718818e+14,5628321,M,2016-04-27T10:48:50Z,2016-04-29T00:00:00Z,0,CONQUISTA,0,0,0,0,0,0,No
66,9.784893e+14,5638604,M,2016-04-29T08:12:27Z,2016-04-29T00:00:00Z,1,CONQUISTA,0,0,0,0,0,0,No
68,5.434176e+12,5552915,F,2016-04-06T18:00:29Z,2016-04-29T00:00:00Z,69,JARDIM DA PENHA,0,1,0,0,0,1,No
176,9.557477e+14,5597754,M,2016-04-18T19:25:38Z,2016-04-29T00:00:00Z,6,CONQUISTA,0,0,0,0,0,1,No
181,1.491882e+11,5639132,F,2016-04-29T08:44:52Z,2016-04-29T00:00:00Z,35,CONQUISTA,0,0,0,0,0,0,No
183,7.254972e+11,5524189,M,2016-03-30T07:32:47Z,2016-04-29T00:00:00Z,69,CONQUISTA,0,0,0,0,0,1,No
189,6.652525e+14,5640552,F,2016-04-29T10:56:26Z,2016-04-29T00:00:00Z,77,CONQUISTA,0,1,0,0,1,0,No
190,9.458118e+09,5640554,M,2016-04-29T10:56:40Z,2016-04-29T00:00:00Z,81,CONQUISTA,0,0,0,0,1,0,No
191,3.937536e+14,5640559,F,2016-04-29T10:56:53Z,2016-04-29T00:00:00Z,18,CONQUISTA,1,0,0,0,0,0,No
192,1.165338e+12,5640561,M,2016-04-29T10:57:14Z,2016-04-29T00:00:00Z,0,CONQUISTA,0,0,0,0,0,0,No
413,2.817984e+13,5642697,M,2016-04-29T16:48:41Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
473,8.344775e+14,5574641,M,2016-04-12T15:29:42Z,2016-04-29T00:00:00Z,5,CONQUISTA,0,0,0,0,0,1,No
479,1.164255e+11,5466013,F,2016-03-14T15:21:42Z,2016-04-29T00:00:00Z,37,CONQUISTA,0,0,0,0,0,1,No
482,6.852614e+13,5596673,F,2016-04-18T15:04:23Z,2016-04-29T00:00:00Z,27,CONQUISTA,1,0,0,0,0,1,Yes
483,5.515392e+11,5486593,F,2016-03-18T07:40:12Z,2016-04-29T00:00:00Z,45,CONQUISTA,1,0,0,0,0,1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109814,8.422697e+14,5705123,M,2016-05-16T18:19:43Z,2016-06-03T00:00:00Z,10,JARDIM DA PENHA,0,0,0,0,0,0,No
109815,3.431599e+13,5688782,F,2016-05-12T07:38:56Z,2016-06-03T00:00:00Z,78,JARDIM DA PENHA,0,0,0,0,0,1,No
109856,1.231232e+11,5765114,F,2016-06-02T11:40:06Z,2016-06-02T00:00:00Z,69,JARDIM DA PENHA,0,0,0,0,0,0,Yes
109857,4.482836e+13,5760641,F,2016-06-01T15:14:03Z,2016-06-02T00:00:00Z,60,JARDIM DA PENHA,0,0,0,0,0,0,No
109878,1.681822e+13,5760655,F,2016-06-01T15:16:04Z,2016-06-03T00:00:00Z,29,CONQUISTA,1,0,0,0,0,0,No
109881,6.295999e+14,5760664,F,2016-06-01T15:17:10Z,2016-06-03T00:00:00Z,24,JARDIM DA PENHA,0,0,0,0,0,0,Yes
109984,5.487315e+14,5776784,M,2016-06-06T11:54:34Z,2016-06-08T00:00:00Z,30,JARDIM DA PENHA,0,0,0,0,0,0,Yes
110005,8.222356e+13,5747661,F,2016-05-30T16:06:23Z,2016-06-01T00:00:00Z,52,JARDIM DA PENHA,0,0,0,0,0,0,No
110048,4.752868e+13,5743481,F,2016-05-30T09:04:17Z,2016-06-01T00:00:00Z,62,JARDIM DA PENHA,0,0,0,0,0,0,No
110050,4.752868e+13,5775333,F,2016-06-06T09:17:42Z,2016-06-08T00:00:00Z,62,JARDIM DA PENHA,0,0,0,0,0,0,No
110058,2.896172e+12,5743464,F,2016-05-30T09:03:19Z,2016-06-01T00:00:00Z,52,JARDIM DA PENHA,0,0,0,0,0,0,No
110060,2.896172e+12,5775293,F,2016-06-06T09:14:52Z,2016-06-08T00:00:00Z,52,JARDIM DA PENHA,0,0,0,0,0,0,No
110064,2.859275e+14,5741986,M,2016-05-30T07:37:29Z,2016-06-02T00:00:00Z,66,JARDIM DA PENHA,0,1,1,0,0,1,No
110093,2.382579e+12,5734653,M,2016-05-24T15:58:50Z,2016-06-01T00:00:00Z,51,JARDIM DA PENHA,0,0,0,0,0,1,No
110106,3.359556e+14,5761626,F,2016-06-02T06:44:13Z,2016-06-06T00:00:00Z,15,JARDIM DA PENHA,0,0,0,0,0,1,No
110112,9.839944e+14,5765622,F,2016-06-02T13:25:54Z,2016-06-06T00:00:00Z,24,JARDIM DA PENHA,0,0,0,0,0,1,No
110118,3.267145e+12,5752540,F,2016-05-31T11:56:34Z,2016-06-02T00:00:00Z,58,JARDIM DA PENHA,0,0,0,0,0,0,No
110121,8.941649e+13,5752546,F,2016-05-31T11:57:00Z,2016-06-02T00:00:00Z,64,JARDIM DA PENHA,0,1,1,0,0,0,No
110125,8.941649e+13,5776690,F,2016-06-06T11:40:32Z,2016-06-08T00:00:00Z,64,JARDIM DA PENHA,0,1,1,0,0,0,No
110153,8.124129e+13,5752532,F,2016-05-31T11:55:56Z,2016-06-02T00:00:00Z,73,JARDIM DA PENHA,0,1,0,0,0,0,No
110155,4.695287e+13,5740675,F,2016-05-25T15:50:52Z,2016-06-01T00:00:00Z,40,MATA DA PRAIA,0,0,0,0,0,1,No
110157,4.695287e+13,5776680,F,2016-06-06T11:39:34Z,2016-06-08T00:00:00Z,40,MATA DA PRAIA,0,0,0,0,0,0,No
110161,1.377961e+12,5725883,F,2016-05-20T12:10:24Z,2016-06-06T00:00:00Z,57,JARDIM DA PENHA,0,0,0,0,0,1,No
110162,3.746565e+13,5715980,F,2016-05-18T15:35:13Z,2016-06-06T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,1,Yes
110163,3.754762e+14,5714534,F,2016-05-18T12:07:40Z,2016-06-06T00:00:00Z,30,JARDIM DA PENHA,0,0,0,0,0,1,Yes
110164,4.355718e+12,5720887,F,2016-05-19T14:48:12Z,2016-06-06T00:00:00Z,67,JARDIM DA PENHA,0,0,0,0,0,1,No
110166,8.899274e+13,5716256,F,2016-05-18T16:15:03Z,2016-06-06T00:00:00Z,60,JARDIM DA PENHA,0,0,0,0,0,1,No
110289,2.636517e+14,5759557,M,2016-06-01T13:16:17Z,2016-06-02T00:00:00Z,16,CONQUISTA,1,0,0,0,0,0,No
110314,6.793235e+13,5611540,F,2016-04-25T07:19:45Z,2016-06-06T00:00:00Z,6,CONQUISTA,0,0,0,0,0,1,No
110315,4.398735e+13,5611546,F,2016-04-25T07:20:07Z,2016-06-06T00:00:00Z,2,CONQUISTA,0,0,0,0,0,1,No


---
### Lesson 9: Assignment

In [131]:
import numpy as np

In [132]:
# Let's set the "Handcap" column in row 4 in the dataframe to 1
important_group.loc[4,["Handcap"]] = 1
important_group.loc[4:20]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,1,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,40,CONQUISTA,1,0,0,0,0,0,Yes

In [133]:
# Now set "Handcap" column in row 9 to np.nan or (not a number)
# A np.nan value handles data very well when we are missing values
important_group.loc[9,["Handcap"]] = np.nan
important_group.loc[4:20]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,1.0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,NaN,0,No
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,40,CONQUISTA,1,0,0,0,0.0,0,Yes

In [134]:
# Let's make all of the patients in the dataframe df have the age 50
df.loc[:,'Age'] = 50
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,50,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,50,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,50,REP√öBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,50,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No
10,7.345362e+14,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No
11,7.542951e+12,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,1,Yes
12,5.666548e+14,5634718,F,2016-04-28T11:33:51Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,1,0,0,0,0,0,No
13,9.113946e+14,5636249,M,2016-04-28T14:52:07Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No
14,9.988472e+13,5633951,F,2016-04-28T10:06:24Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No
15,9.994839e+10,5620206,F,2016-04-26T08:47:27Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,1,No
16,8.457439e+13,5633121,M,2016-04-28T08:51:47Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,50,CONQUISTA,1,0,0,0,0,0,Yes
18,1.713538e+13,5621836,F,2016-04-26T10:54:18Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,1,0,0,0,0,1,No
19,7.223289e+12,5640433,F,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,50,DA PENHA,0,0,0,0,0,0,No
20,6.222575e+14,5626083,F,2016-04-27T07:51:14Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,Yes
21,1.215484e+13,5628338,F,2016-04-27T10:50:45Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,Yes
22,8.632298e+14,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,1,Yes
23,2.137540e+14,5634142,F,2016-04-28T10:27:05Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No
24,8.734858e+12,5641780,F,2016-04-29T14:19:19Z,2016-04-29T00:00:00Z,50,TABUAZEIRO,0,0,0,0,0,0,No
25,5.819370e+12,5624020,M,2016-04-26T15:04:17Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,1,0,0,0,1,No
26,2.578785e+10,5641781,F,2016-04-29T14:19:42Z,2016-04-29T00:00:00Z,50,BENTO FERREIRA,0,1,0,0,0,0,No
27,1.215484e+13,5628345,F,2016-04-27T10:51:45Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No
28,5.926172e+12,5642400,M,2016-04-29T15:48:02Z,2016-04-29T00:00:00Z,50,S√ÉO PEDRO,0,0,0,0,0,0,No
29,1.225776e+12,5642186,F,2016-04-29T15:16:29Z,2016-04-29T00:00:00Z,50,SANTA MARTHA,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,7.935892e+14,5757745,M,2016-06-01T09:46:33Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110498,9.433654e+13,5787655,F,2016-06-08T10:21:14Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110499,8.219692e+14,5757697,F,2016-06-01T09:42:56Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,1,1,0,0,0,No
110500,4.434384e+14,5787233,F,2016-06-08T09:35:13Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110501,4.544252e+11,5758133,M,2016-06-01T10:19:12Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110502,7.316229e+14,5787937,F,2016-06-08T10:50:42Z,2016-06-08T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,No
110503,2.362182e+13,5759473,F,2016-06-01T13:00:36Z,2016-06-01T00:00:00Z,50,SOLON BORGES,0,0,0,0,0,0,No
110504,9.947983e+12,5788052,F,2016-06-08T11:06:21Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110505,5.667344e+13,5758455,F,2016-06-01T10:45:50Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110506,8.973883e+11,5758779,M,2016-06-01T11:09:20Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110507,4.769462e+14,5786918,F,2016-06-08T09:04:18Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110508,9.433654e+13,5757656,F,2016-06-01T09:41:00Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110509,4.952968e+14,5786750,M,2016-06-08T08:50:51Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110510,2.362182e+13,5757587,F,2016-06-01T09:35:48Z,2016-06-01T00:00:00Z,50,SOLON BORGES,0,0,0,0,0,0,No
110511,8.235996e+11,5786742,F,2016-06-08T08:50:20Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110512,9.876246e+13,5786368,F,2016-06-08T08:20:01Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110513,8.674778e+13,5785964,M,2016-06-08T07:52:55Z,2016-06-08T00:00:00Z,50,ANT√îNIO HON√ìRIO,0,0,0,0,0,0,No
110514,2.695685e+12,5786567,F,2016-06-08T08:35:31Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110515,6.456342e+14,5778621,M,2016-06-06T15:58:05Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,1,0,0,0,0,Yes
110516,6.923772e+13,5780205,F,2016-06-07T07:45:16Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,Yes
110517,5.574942e+12,5780122,F,2016-06-07T07:38:34Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No
110518,7.263315e+13,5630375,F,2016-04-27T15:15:06Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No
110519,6.542388e+13,5630447,F,2016-04-27T15:23:14Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No
110520,9.969977e+14,5650534,F,2016-05-03T07:51:47Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No
110521,3.635534e+13,5651072,F,2016-05-03T08:23:40Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No

In [135]:
# Now let's make a new column named ["Reviewer"] and set it equal to your name
df["Reviewer"] = "Adam"
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,Reviewer
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,1,0,0,0,0,No,Adam
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,0,0,0,0,0,No,Adam
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,50,MATA DA PRAIA,0,0,0,0,0,0,No,Adam
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,50,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Adam
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,1,1,0,0,0,No,Adam
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,50,REP√öBLICA,0,1,0,0,0,0,No,Adam
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,Yes,Adam
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,Yes,Adam
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,50,ANDORINHAS,0,0,0,0,0,0,No,Adam
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No,Adam
10,7.345362e+14,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
11,7.542951e+12,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,1,Yes,Adam
12,5.666548e+14,5634718,F,2016-04-28T11:33:51Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,1,0,0,0,0,0,No,Adam
13,9.113946e+14,5636249,M,2016-04-28T14:52:07Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
14,9.988472e+13,5633951,F,2016-04-28T10:06:24Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
15,9.994839e+10,5620206,F,2016-04-26T08:47:27Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,1,No,Adam
16,8.457439e+13,5633121,M,2016-04-28T08:51:47Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,50,CONQUISTA,1,0,0,0,0,0,Yes,Adam
18,1.713538e+13,5621836,F,2016-04-26T10:54:18Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,1,0,0,0,0,1,No,Adam
19,7.223289e+12,5640433,F,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,50,DA PENHA,0,0,0,0,0,0,No,Adam
20,6.222575e+14,5626083,F,2016-04-27T07:51:14Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,Yes,Adam
21,1.215484e+13,5628338,F,2016-04-27T10:50:45Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,Yes,Adam
22,8.632298e+14,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,1,Yes,Adam
23,2.137540e+14,5634142,F,2016-04-28T10:27:05Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No,Adam
24,8.734858e+12,5641780,F,2016-04-29T14:19:19Z,2016-04-29T00:00:00Z,50,TABUAZEIRO,0,0,0,0,0,0,No,Adam
25,5.819370e+12,5624020,M,2016-04-26T15:04:17Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,1,0,0,0,1,No,Adam
26,2.578785e+10,5641781,F,2016-04-29T14:19:42Z,2016-04-29T00:00:00Z,50,BENTO FERREIRA,0,1,0,0,0,0,No,Adam
27,1.215484e+13,5628345,F,2016-04-27T10:51:45Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No,Adam
28,5.926172e+12,5642400,M,2016-04-29T15:48:02Z,2016-04-29T00:00:00Z,50,S√ÉO PEDRO,0,0,0,0,0,0,No,Adam
29,1.225776e+12,5642186,F,2016-04-29T15:16:29Z,2016-04-29T00:00:00Z,50,SANTA MARTHA,0,0,0,0,0,0,No,Adam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,7.935892e+14,5757745,M,2016-06-01T09:46:33Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110498,9.433654e+13,5787655,F,2016-06-08T10:21:14Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110499,8.219692e+14,5757697,F,2016-06-01T09:42:56Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,1,1,0,0,0,No,Adam
110500,4.434384e+14,5787233,F,2016-06-08T09:35:13Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110501,4.544252e+11,5758133,M,2016-06-01T10:19:12Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110502,7.316229e+14,5787937,F,2016-06-08T10:50:42Z,2016-06-08T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,No,Adam
110503,2.362182e+13,5759473,F,2016-06-01T13:00:36Z,2016-06-01T00:00:00Z,50,SOLON BORGES,0,0,0,0,0,0,No,Adam
110504,9.947983e+12,5788052,F,2016-06-08T11:06:21Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110505,5.667344e+13,5758455,F,2016-06-01T10:45:50Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110506,8.973883e+11,5758779,M,2016-06-01T11:09:20Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110507,4.769462e+14,5786918,F,2016-06-08T09:04:18Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110508,9.433654e+13,5757656,F,2016-06-01T09:41:00Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110509,4.952968e+14,5786750,M,2016-06-08T08:50:51Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110510,2.362182e+13,5757587,F,2016-06-01T09:35:48Z,2016-06-01T00:00:00Z,50,SOLON BORGES,0,0,0,0,0,0,No,Adam
110511,8.235996e+11,5786742,F,2016-06-08T08:50:20Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110512,9.876246e+13,5786368,F,2016-06-08T08:20:01Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110513,8.674778e+13,5785964,M,2016-06-08T07:52:55Z,2016-06-08T00:00:00Z,50,ANT√îNIO HON√ìRIO,0,0,0,0,0,0,No,Adam
110514,2.695685e+12,5786567,F,2016-06-08T08:35:31Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110515,6.456342e+14,5778621,M,2016-06-06T15:58:05Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,1,0,0,0,0,Yes,Adam
110516,6.923772e+13,5780205,F,2016-06-07T07:45:16Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,Yes,Adam
110517,5.574942e+12,5780122,F,2016-06-07T07:38:34Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110518,7.263315e+13,5630375,F,2016-04-27T15:15:06Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110519,6.542388e+13,5630447,F,2016-04-27T15:23:14Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110520,9.969977e+14,5650534,F,2016-05-03T07:51:47Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110521,3.635534e+13,5651072,F,2016-05-03T08:23:40Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam

---

### Lesson 10: Renaming Columns

In [140]:
# Rename the column "SMS_received" to "SMS_recv" and use inplace= True
# inplace = True will save the changes for you in the background instead of reassigning df to itself
df.rename(columns={"SMS_received":"SMS_recv"}, inplace=True)
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_recv,No-show,Reviewer
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,1,0,0,0,0,No,Adam
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,0,0,0,0,0,No,Adam
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,50,MATA DA PRAIA,0,0,0,0,0,0,No,Adam
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,50,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Adam
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,1,1,0,0,0,No,Adam
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,50,REP√öBLICA,0,1,0,0,0,0,No,Adam
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,Yes,Adam
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,Yes,Adam
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,50,ANDORINHAS,0,0,0,0,0,0,No,Adam
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No,Adam
10,7.345362e+14,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
11,7.542951e+12,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,1,Yes,Adam
12,5.666548e+14,5634718,F,2016-04-28T11:33:51Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,1,0,0,0,0,0,No,Adam
13,9.113946e+14,5636249,M,2016-04-28T14:52:07Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
14,9.988472e+13,5633951,F,2016-04-28T10:06:24Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
15,9.994839e+10,5620206,F,2016-04-26T08:47:27Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,1,No,Adam
16,8.457439e+13,5633121,M,2016-04-28T08:51:47Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,50,CONQUISTA,1,0,0,0,0,0,Yes,Adam
18,1.713538e+13,5621836,F,2016-04-26T10:54:18Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,1,0,0,0,0,1,No,Adam
19,7.223289e+12,5640433,F,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,50,DA PENHA,0,0,0,0,0,0,No,Adam
20,6.222575e+14,5626083,F,2016-04-27T07:51:14Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,Yes,Adam
21,1.215484e+13,5628338,F,2016-04-27T10:50:45Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,Yes,Adam
22,8.632298e+14,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,1,Yes,Adam
23,2.137540e+14,5634142,F,2016-04-28T10:27:05Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No,Adam
24,8.734858e+12,5641780,F,2016-04-29T14:19:19Z,2016-04-29T00:00:00Z,50,TABUAZEIRO,0,0,0,0,0,0,No,Adam
25,5.819370e+12,5624020,M,2016-04-26T15:04:17Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,1,0,0,0,1,No,Adam
26,2.578785e+10,5641781,F,2016-04-29T14:19:42Z,2016-04-29T00:00:00Z,50,BENTO FERREIRA,0,1,0,0,0,0,No,Adam
27,1.215484e+13,5628345,F,2016-04-27T10:51:45Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No,Adam
28,5.926172e+12,5642400,M,2016-04-29T15:48:02Z,2016-04-29T00:00:00Z,50,S√ÉO PEDRO,0,0,0,0,0,0,No,Adam
29,1.225776e+12,5642186,F,2016-04-29T15:16:29Z,2016-04-29T00:00:00Z,50,SANTA MARTHA,0,0,0,0,0,0,No,Adam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,7.935892e+14,5757745,M,2016-06-01T09:46:33Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110498,9.433654e+13,5787655,F,2016-06-08T10:21:14Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110499,8.219692e+14,5757697,F,2016-06-01T09:42:56Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,1,1,0,0,0,No,Adam
110500,4.434384e+14,5787233,F,2016-06-08T09:35:13Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110501,4.544252e+11,5758133,M,2016-06-01T10:19:12Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110502,7.316229e+14,5787937,F,2016-06-08T10:50:42Z,2016-06-08T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,No,Adam
110503,2.362182e+13,5759473,F,2016-06-01T13:00:36Z,2016-06-01T00:00:00Z,50,SOLON BORGES,0,0,0,0,0,0,No,Adam
110504,9.947983e+12,5788052,F,2016-06-08T11:06:21Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110505,5.667344e+13,5758455,F,2016-06-01T10:45:50Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110506,8.973883e+11,5758779,M,2016-06-01T11:09:20Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110507,4.769462e+14,5786918,F,2016-06-08T09:04:18Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110508,9.433654e+13,5757656,F,2016-06-01T09:41:00Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110509,4.952968e+14,5786750,M,2016-06-08T08:50:51Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110510,2.362182e+13,5757587,F,2016-06-01T09:35:48Z,2016-06-01T00:00:00Z,50,SOLON BORGES,0,0,0,0,0,0,No,Adam
110511,8.235996e+11,5786742,F,2016-06-08T08:50:20Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110512,9.876246e+13,5786368,F,2016-06-08T08:20:01Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110513,8.674778e+13,5785964,M,2016-06-08T07:52:55Z,2016-06-08T00:00:00Z,50,ANT√îNIO HON√ìRIO,0,0,0,0,0,0,No,Adam
110514,2.695685e+12,5786567,F,2016-06-08T08:35:31Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110515,6.456342e+14,5778621,M,2016-06-06T15:58:05Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,1,0,0,0,0,Yes,Adam
110516,6.923772e+13,5780205,F,2016-06-07T07:45:16Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,Yes,Adam
110517,5.574942e+12,5780122,F,2016-06-07T07:38:34Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110518,7.263315e+13,5630375,F,2016-04-27T15:15:06Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110519,6.542388e+13,5630447,F,2016-04-27T15:23:14Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110520,9.969977e+14,5650534,F,2016-05-03T07:51:47Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110521,3.635534e+13,5651072,F,2016-05-03T08:23:40Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam

In [144]:
# Do the same thing except change back to "SMS_received" it using df.columns
df.columns = ['PatientId','AppointmentID','Gender','ScheduledDay','AppointmentDay','Age',
              'Neighbourhood','Scholarship','Hipertension','Diabetes','Alcoholism','Handcap',
              'SMS_received','No-show','Reviewer']
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,Reviewer
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,1,0,0,0,0,No,Adam
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,0,0,0,0,0,No,Adam
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,50,MATA DA PRAIA,0,0,0,0,0,0,No,Adam
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,50,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Adam
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,50,JARDIM DA PENHA,0,1,1,0,0,0,No,Adam
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,50,REP√öBLICA,0,1,0,0,0,0,No,Adam
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,Yes,Adam
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,Yes,Adam
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,50,ANDORINHAS,0,0,0,0,0,0,No,Adam
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No,Adam
10,7.345362e+14,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
11,7.542951e+12,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,1,Yes,Adam
12,5.666548e+14,5634718,F,2016-04-28T11:33:51Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,1,0,0,0,0,0,No,Adam
13,9.113946e+14,5636249,M,2016-04-28T14:52:07Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
14,9.988472e+13,5633951,F,2016-04-28T10:06:24Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
15,9.994839e+10,5620206,F,2016-04-26T08:47:27Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,1,No,Adam
16,8.457439e+13,5633121,M,2016-04-28T08:51:47Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No,Adam
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,50,CONQUISTA,1,0,0,0,0,0,Yes,Adam
18,1.713538e+13,5621836,F,2016-04-26T10:54:18Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,1,0,0,0,0,1,No,Adam
19,7.223289e+12,5640433,F,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,50,DA PENHA,0,0,0,0,0,0,No,Adam
20,6.222575e+14,5626083,F,2016-04-27T07:51:14Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,Yes,Adam
21,1.215484e+13,5628338,F,2016-04-27T10:50:45Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,Yes,Adam
22,8.632298e+14,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,1,Yes,Adam
23,2.137540e+14,5634142,F,2016-04-28T10:27:05Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No,Adam
24,8.734858e+12,5641780,F,2016-04-29T14:19:19Z,2016-04-29T00:00:00Z,50,TABUAZEIRO,0,0,0,0,0,0,No,Adam
25,5.819370e+12,5624020,M,2016-04-26T15:04:17Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,1,0,0,0,1,No,Adam
26,2.578785e+10,5641781,F,2016-04-29T14:19:42Z,2016-04-29T00:00:00Z,50,BENTO FERREIRA,0,1,0,0,0,0,No,Adam
27,1.215484e+13,5628345,F,2016-04-27T10:51:45Z,2016-04-29T00:00:00Z,50,CONQUISTA,0,0,0,0,0,0,No,Adam
28,5.926172e+12,5642400,M,2016-04-29T15:48:02Z,2016-04-29T00:00:00Z,50,S√ÉO PEDRO,0,0,0,0,0,0,No,Adam
29,1.225776e+12,5642186,F,2016-04-29T15:16:29Z,2016-04-29T00:00:00Z,50,SANTA MARTHA,0,0,0,0,0,0,No,Adam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,7.935892e+14,5757745,M,2016-06-01T09:46:33Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110498,9.433654e+13,5787655,F,2016-06-08T10:21:14Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110499,8.219692e+14,5757697,F,2016-06-01T09:42:56Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,1,1,0,0,0,No,Adam
110500,4.434384e+14,5787233,F,2016-06-08T09:35:13Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110501,4.544252e+11,5758133,M,2016-06-01T10:19:12Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110502,7.316229e+14,5787937,F,2016-06-08T10:50:42Z,2016-06-08T00:00:00Z,50,GOIABEIRAS,0,0,0,0,0,0,No,Adam
110503,2.362182e+13,5759473,F,2016-06-01T13:00:36Z,2016-06-01T00:00:00Z,50,SOLON BORGES,0,0,0,0,0,0,No,Adam
110504,9.947983e+12,5788052,F,2016-06-08T11:06:21Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110505,5.667344e+13,5758455,F,2016-06-01T10:45:50Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110506,8.973883e+11,5758779,M,2016-06-01T11:09:20Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110507,4.769462e+14,5786918,F,2016-06-08T09:04:18Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110508,9.433654e+13,5757656,F,2016-06-01T09:41:00Z,2016-06-01T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110509,4.952968e+14,5786750,M,2016-06-08T08:50:51Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110510,2.362182e+13,5757587,F,2016-06-01T09:35:48Z,2016-06-01T00:00:00Z,50,SOLON BORGES,0,0,0,0,0,0,No,Adam
110511,8.235996e+11,5786742,F,2016-06-08T08:50:20Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110512,9.876246e+13,5786368,F,2016-06-08T08:20:01Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110513,8.674778e+13,5785964,M,2016-06-08T07:52:55Z,2016-06-08T00:00:00Z,50,ANT√îNIO HON√ìRIO,0,0,0,0,0,0,No,Adam
110514,2.695685e+12,5786567,F,2016-06-08T08:35:31Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110515,6.456342e+14,5778621,M,2016-06-06T15:58:05Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,1,0,0,0,0,Yes,Adam
110516,6.923772e+13,5780205,F,2016-06-07T07:45:16Z,2016-06-08T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,Yes,Adam
110517,5.574942e+12,5780122,F,2016-06-07T07:38:34Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,0,No,Adam
110518,7.263315e+13,5630375,F,2016-04-27T15:15:06Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110519,6.542388e+13,5630447,F,2016-04-27T15:23:14Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110520,9.969977e+14,5650534,F,2016-05-03T07:51:47Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110521,3.635534e+13,5651072,F,2016-05-03T08:23:40Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No,Adam

---

### Lesson 11: Writing to a CSV file

In [150]:
# Write the diabetes_patients to a csv file called "diabetes_patients.csv"
filename = "diabetes_patients.csv"
diabetes_patients.to_csv(filename)

diabetes_patients_csv = pd.read_csv(filename)
diabetes_patients_csv.head(6)

,Unnamed: 0,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
1,36,7.298459e+13,5637975,F,2016-04-29T07:35:19Z,2016-04-29T00:00:00Z,63,S√ÉO CRIST√ìV√ÉO,0,1,1,0,0,0,No
2,37,1.578132e+12,5637986,F,2016-04-29T07:35:56Z,2016-04-29T00:00:00Z,64,TABUAZEIRO,1,1,1,0,0,0,No
3,41,8.224325e+14,5633339,F,2016-04-28T09:20:36Z,2016-04-29T00:00:00Z,71,MARU√çPE,0,0,1,0,0,0,No
4,44,2.741649e+11,5635414,F,2016-04-28T13:27:27Z,2016-04-29T00:00:00Z,78,S√ÉO CRIST√ìV√ÉO,0,1,1,0,0,0,Yes
5,47,5.894585e+11,5633116,F,2016-04-28T08:51:26Z,2016-04-29T00:00:00Z,39,MARU√çPE,0,1,1,0,0,0,No